.NavbarItems {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

@media(min-width: 500px) {
    .NavbarItems {
    flex-flow: row;
}
}